@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.main-app {
  min-width: 20em;
  width: calc(100% - 15%);
  height: auto;
  border: 10px solid black;
  border-radius: 40px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  overflow: hidden;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  cursor: pointer;
}

.header img:first-child,
.header img:last-child {
  width: 3em;
}

.header img:nth-child(2) {
  width: 8em;
}

.profile-container {
  position: relative;
  width: 100%;
}

.profile-pic {
  width: inherit;
  height: 40em;
  border-radius: 20px;
}

.profile-info {
  position: absolute;
  bottom: 3%;
  left: 4%;
}

.profile-name {
  font-size: 2.2em;
  margin-bottom: 0;
  color: white;
}

.profile-descr {
  font-size: 1.5em;
  font-weight: 300;
  color: lightgray;
  margin-top: 0;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
  order: 1;
}

.dislike,
.love-container {
  cursor: pointer;
  padding: 1em;
  width: 2.5em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transition: background-color 0.15s;
}

.love-container {
  display: grid;
  place-items: center;
}

.dislike:hover {
  background-color: rgba(252, 1, 14, 0.2);
}

.love-container:hover {
  background-color: rgba(2, 247, 23, 0.356);
}

.swap-result {
  position: absolute;
  width: 12em;
  top: 10%;
  left: 10%;
  transform: rotate(-30deg)
}

.end-title {
  text-align: center;
  margin-bottom: 1.5em;
}

.descr {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 2em;
  margin-bottom: 3em;
}

.div-btn {
  width: 100%;
  display: grid;
  place-items: center;
}

.home-btn {
  font-size: 1.2em;
  padding: 0.8em 0;
  margin-bottom: 2em;;
  width: 15em;
  background: linear-gradient(90deg, rgb(252, 38, 138), 60%, rgb(255, 104, 44));
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: box-shadow 0.15s;
}

.home-btn:hover {
  box-shadow: -15px 0 15px rgba(252, 38, 138, 0.5),
              15px 0 15px rgba(255, 104, 44, 0.5);
}

.home-btn:active {
  box-shadow: none;
}

.homepage {
  margin-top: -1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.homepage__title {
  text-align: center;
  margin-bottom: -1em;
}

.upper-row,
.lower-row {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.upper-row div,
.lower-row div {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.upper-row div {
  cursor: pointer;
}

.lower-row {
  position: relative;
}

.lower-row div:hover::after {
  content: 'Coming Soon';
  position: absolute;
  bottom: -10%;
  background-color: rgb(109, 109, 109);
  color: white;
  padding: 0 0.2em;
}

.animal-home-title{
  text-align: center;
  margin-bottom: 0;
}

.animal-home-pp {
  width: 10em;
  aspect-ratio: 1;
  border-radius: 50%;
}

.disclaimer {
  font-size: 0.9em;
  text-align: center;
}

.color {
  color: white;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.2);
}

@keyframes swipedRight {
  0% {
    right: 0;
  }
  100% {
    right: -130%;
    transform: rotate(-30deg);
  }

}

@keyframes swipedLeft {
  0% {
    left: 0;
  }
  100% {
    left: -130%;
    transform: rotate(30deg);
  }

}

@media screen and (min-width: 780px) {
  .main-app {
    width: 550px;
  }
}